<!DOCTYPE html>
<html>
<head>
    
<style> 
table,th,td{
    border: 2px solid black;
    padding:2px;
    border-collapse: collapse;
}
</style>
<title>Finance Manager</title>

</head>
<body>
    <h1>What is up my dudes</h1>
    <p> This is a basic finance manager application. Which i am currently working on.</p>
<table border=5 frame=red rules=rows, width = 75%>   
    <tr style="border-bottom: 1px solid #ff0000;">
        <th> Transaction ID </th> 

        <th> Description </th>
        <th> Amount </th>
        <th> Date </th>
        <th> Category </th>
        <th> Type </th>
        <th> Data </th>
    </tr>
    <tr> //A basic table row, which will be generated based on actual data
        <td> 1 </td>
        <td> Salary </td>
        <td> 5000 </td>
        <td> 2024-01-01 </td>
        <td> Income </td>
        <td> Credit </td>
        <td> 2024-01-01 10:00:00 </td>
</table>
<body>
<html>